@import "./defaultStyles.css";
@import "./tailwind.css";
@import "./markdown.css";

html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*html.dark {*/
/*	background: #121212;*/
/*	color-scheme: dark;*/
/*}*/

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: rgb(13, 148, 136);
	opacity: 0.75;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/**************
*   General   *
**************/

body {
	background-color: #f5f5f5;
	font-size: 110%;
	margin: 0;
}

.content {
	margin: 20px;
}

/******************
*   Router View   *
******************/

h1, h2, h3 {
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	margin: 0;
	color: #2a6496;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 110%;
}

.page {
	background-color: #f5f5f5;
}

.item {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.item p {
	margin-top: 10px;
}

.item img {
	width: 100%;
	max-width: 320px; /* Maximum width reduced to half */
	height: auto; /* Maintain aspect ratio */
	object-fit: cover; /* Adjust how the image fits in the container */
	border-radius: 8px; /* Optional: adds rounded corners */
}


/*****************
*   Navigation   *
*****************/

nav.local {
	position: relative;
}

.nav-link {
	text-decoration: none;
	padding: 3%;
	color: black;
}

ul.flexbox_container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
	list-style-type: none;
	
	padding: 0;
	margin: 0;
}

nav.local li {
	background-color: rgb(160, 160, 160);
	border-right: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav.local li:last-child {
	border-right: none;
}

nav.local > ul > li {
	width: 20%;
	height: 75px;
}

@media (max-width: 480px) {
	nav.local ul.flexbox_container {
		flex-direction: column;
	}
	
	nav.local > ul > li {
		width: 100%;
	}
	
	nav.local li {
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;
		padding: 10px 0; /* Add padding */
		border-right: none;
	}
	
	nav.local li:first-child {
		position: relative;
	}
	
	nav.local li.expanded:first-child::after {
		transform: rotate(90deg); /* Rotate the arrow */
	}
	
	nav.local li:not(.active):not(.expanded) {
		display: none;
	}
}
